#root {
  margin: 0 auto;
}

.wrapper_header__upicons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.logo {
  height: 10px;
}

.wrapper_header_upmenu {
  display: flex;
}

.nav__link {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--text);
  font-weight: 500;
  font-size: 15px;
  text-align: center;
  width: 90px;
  font-weight: 600;
  text-align: center;
  line-height: 1.357;
}
.wrapper_header__downicons {
  display: flex;
  justify-content: space-between;
  padding: 20px 38px;
  color: var(--text);
}
.desk_menu {
  display: flex;
  gap: 10px;
}
.desk_menu li {
  font-weight: 500;
  font-size: 20px;
}
.search_bar {
  display: flex;
  gap: 10px;
  align-items: center;
  display: flex;
}

.search_input {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-size: 20px;
  position: relative;
  background-color: aliceblue;
  min-height: 32px;
  border-color: #e1e1e1;
  border-width: 1px;
  border-style: solid;
  background: url("nav/search.svg") no-repeat 5% 50%;
}

.search_input:focus {
  background: none;
}

