.container-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    text-align: center;
}
.title__link {
    width: 90px;
    height: 40px;
    background: var(--button); 
    color: white;
    border-radius: 20px;
    margin-bottom: 50px;
}
.title__link:hover{
    background-color: var(--hover)
   }
   

.caption {
    color: white;
    font-weight: 600;
    position: absolute;
    bottom: 7%;
    left: 23%;
}