.main {
    flex: 1 1 auto;
}

.main-page__container {
    column-gap: 30px;
    display: flex;
}
.main-page {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    padding: 500px 0 185px;
}
/* .main-page__button {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    background-color: transparent;
    border: 2px solid #fff;
}  */

.main-page__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
}

h1 {
    color: #fff;
    font-size: 100px;
    position: absolute;
    bottom: 200px;
    left: 600px;
    z-index: 1;
}

.main-page__from {
    position: relative;
}
