.main {
    flex: 1 1 auto;
}

.main-page__container {
    column-gap: 30px;
    display: flex;
}
.main-page {
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("banner.jpg");
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-attachment: scroll;
    padding: 300px 0 155px;
}

.main-page__column {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    color: #fff;
    position: relative;
    left: 25%;
    top: 50%;
}


.main-page__title {
    font-size: 50px;
}

div.main-page__column > * {
    margin-bottom: 20px; 
}