.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
}

.grid-item {
    /* border: 1px solid #ccc; */
    padding: 20px;
    text-align: center;
    position: relative;
}

.grid-item img {
    height: auto;
}

.caption {
    margin-top: 10px;
    font-size: 14px;

}
.grid__link {
    position: absolute;
    bottom: 12%;
    left: 20%;
    border-radius: 20px ;
    width: 80px;
    height: 40px;
    border: none;
    background: rgb(243, 178, 176);
    
}

.grid__link:hover {
   background: rgba(184, 176, 176, 0.5);
} 